:root {
  --container-width: 890px;
  --container-width--wide: 1200px;
  --font: "Roboto", "Arial", sans-serif;
  --gap: 12px;
  --gray-border: #f3f2f2;
  --gray-bg: #f3f2f2;
}

.carousel {
  position: relative;
  box-sizing: border-box;
}

.carousel *, .carousel *:before, .carousel *:after {
  box-sizing: inherit;
}

.carousel.is-draggable {
  cursor: move;
  cursor: grab;
}

.carousel.is-dragging {
  cursor: move;
  cursor: grabbing;
}

.carousel__viewport {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

.carousel__track {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.carousel__slide {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: var(--carousel-slide-width, 60%);
  max-width: 100%;
  padding: 1rem;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
}

.has-dots {
  margin-bottom: calc(0.5rem + 22px);
}

.carousel__dots {
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  right: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.carousel__dots .carousel__dot {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.carousel__dots .carousel__dot:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: currentColor;
  opacity: 0.25;
  transition: opacity 0.15s ease-in-out;
}

.carousel__dots .carousel__dot.is-selected:after {
  opacity: 1;
}

.carousel__button {
  width: var(--carousel-button-width, 48px);
  height: var(--carousel-button-height, 48px);
  padding: 0;
  border: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: all;
  cursor: pointer;
  color: var(--carousel-button-color, currentColor);
  background: var(--carousel-button-bg, transparent);
  border-radius: var(--carousel-button-border-radius, 50%);
  box-shadow: var(--carousel-button-shadow, none);
  transition: opacity 0.15s ease;
}

.carousel__button.is-prev, .carousel__button.is-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.carousel__button.is-prev {
  left: 10px;
}

.carousel__button.is-next {
  right: 10px;
}

.carousel__button[disabled] {
  cursor: default;
  opacity: 0.3;
}

.carousel__button svg {
  width: var(--carousel-button-svg-width, 50%);
  height: var(--carousel-button-svg-height, 50%);
  fill: none;
  stroke: currentColor;
  stroke-width: var(--carousel-button-svg-stroke-width, 1.5);
  stroke-linejoin: bevel;
  stroke-linecap: round;
  -webkit-filter: var(--carousel-button-svg-filter, none);
          filter: var(--carousel-button-svg-filter, none);
  pointer-events: none;
}

html.with-fancybox {
  scroll-behavior: auto;
}

body.compensate-for-scrollbar {
  overflow: hidden !important;
  -ms-touch-action: none;
      touch-action: none;
}

.fancybox__container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  direction: ltr;
  margin: 0;
  padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--fancybox-color, #fff);
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  z-index: 1050;
  outline: none;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  --carousel-button-width: 48px;
  --carousel-button-height: 48px;
  --carousel-button-svg-width: 24px;
  --carousel-button-svg-height: 24px;
  --carousel-button-svg-stroke-width: 2.5;
  --carousel-button-svg-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
}

.fancybox__container *, .fancybox__container *::before, .fancybox__container *::after {
  box-sizing: inherit;
}

.fancybox__container :focus {
  outline: none;
}

body:not(.is-using-mouse) .fancybox__container :focus {
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px var(--fancybox-accent-color, rgba(1, 210, 232, 0.94));
}

@media all and (min-width: 1024px) {
  .fancybox__container {
    --carousel-button-width:48px;
    --carousel-button-height:48px;
    --carousel-button-svg-width:27px;
    --carousel-button-svg-height:27px;
  }
}
.fancybox__backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: var(--fancybox-bg, rgba(24, 24, 27, 0.92));
}

.fancybox__carousel {
  position: relative;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 0;
  height: 100%;
  z-index: 10;
}

.fancybox__carousel.has-dots {
  margin-bottom: calc(0.5rem + 22px);
}

.fancybox__viewport {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
  cursor: default;
}

.fancybox__track {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.fancybox__slide {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 48px 8px 8px 8px;
  position: relative;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  outline: 0;
  overflow: auto;
  --carousel-button-width: 36px;
  --carousel-button-height: 36px;
  --carousel-button-svg-width: 22px;
  --carousel-button-svg-height: 22px;
}

.fancybox__slide::before, .fancybox__slide::after {
  content: "";
  -webkit-flex: 0 0 0;
      -ms-flex: 0 0 0px;
          flex: 0 0 0;
  margin: auto;
}

@media all and (min-width: 1024px) {
  .fancybox__slide {
    padding: 64px 100px;
  }
}
.fancybox__content {
  margin: 0 env(safe-area-inset-right, 0px) 0 env(safe-area-inset-left, 0px);
  padding: 36px;
  color: var(--fancybox-content-color, #374151);
  background: var(--fancybox-content-bg, #fff);
  position: relative;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 20;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
  outline: thin dotted;
  box-shadow: none;
}

.fancybox__caption {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  max-width: 100%;
  margin: 0;
  padding: 1rem 0 0 0;
  line-height: 1.375;
  color: var(--fancybox-color, currentColor);
  visibility: visible;
  cursor: auto;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  overflow-wrap: anywhere;
}

.is-loading .fancybox__caption {
  visibility: hidden;
}

.fancybox__container > .carousel__dots {
  top: 100%;
  color: var(--fancybox-color, #fff);
}

.fancybox__nav .carousel__button {
  z-index: 40;
}

.fancybox__nav .carousel__button.is-next {
  right: 8px;
}

@media all and (min-width: 1024px) {
  .fancybox__nav .carousel__button.is-next {
    right: 40px;
  }
}
.fancybox__nav .carousel__button.is-prev {
  left: 8px;
}

@media all and (min-width: 1024px) {
  .fancybox__nav .carousel__button.is-prev {
    left: 40px;
  }
}
.carousel__button.is-close {
  position: absolute;
  top: 8px;
  right: 8px;
  top: calc(env(safe-area-inset-top, 0px) + 8px);
  right: calc(env(safe-area-inset-right, 0px) + 8px);
  z-index: 40;
}

@media all and (min-width: 1024px) {
  .carousel__button.is-close {
    right: 40px;
  }
}
.fancybox__content > .carousel__button.is-close {
  position: absolute;
  top: -40px;
  right: 0;
  color: var(--fancybox-color, #fff);
}

.fancybox__no-click, .fancybox__no-click button {
  pointer-events: none;
}

.fancybox__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  color: var(--fancybox-color, currentColor);
}

.fancybox__slide .fancybox__spinner {
  cursor: pointer;
  z-index: 1053;
}

.fancybox__spinner svg {
  -webkit-animation: fancybox-rotate 2s linear infinite;
          animation: fancybox-rotate 2s linear infinite;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}

.fancybox__spinner svg circle {
  fill: none;
  stroke-width: 2.75;
  stroke-miterlimit: 10;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: fancybox-dash 1.5s ease-in-out infinite;
          animation: fancybox-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: currentColor;
}

@-webkit-keyframes fancybox-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes fancybox-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes fancybox-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes fancybox-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
.fancybox__backdrop, .fancybox__caption, .fancybox__nav, .carousel__dots, .carousel__button.is-close {
  opacity: var(--fancybox-opacity, 1);
}

.fancybox__container.is-animated[aria-hidden=false] .fancybox__backdrop, .fancybox__container.is-animated[aria-hidden=false] .fancybox__caption, .fancybox__container.is-animated[aria-hidden=false] .fancybox__nav, .fancybox__container.is-animated[aria-hidden=false] .carousel__dots, .fancybox__container.is-animated[aria-hidden=false] .carousel__button.is-close {
  -webkit-animation: 0.15s ease backwards fancybox-fadeIn;
          animation: 0.15s ease backwards fancybox-fadeIn;
}

.fancybox__container.is-animated.is-closing .fancybox__backdrop, .fancybox__container.is-animated.is-closing .fancybox__caption, .fancybox__container.is-animated.is-closing .fancybox__nav, .fancybox__container.is-animated.is-closing .carousel__dots, .fancybox__container.is-animated.is-closing .carousel__button.is-close {
  -webkit-animation: 0.15s ease both fancybox-fadeOut;
          animation: 0.15s ease both fancybox-fadeOut;
}

.fancybox-fadeIn {
  -webkit-animation: 0.15s ease both fancybox-fadeIn;
          animation: 0.15s ease both fancybox-fadeIn;
}

.fancybox-fadeOut {
  -webkit-animation: 0.1s ease both fancybox-fadeOut;
          animation: 0.1s ease both fancybox-fadeOut;
}

.fancybox-zoomInUp {
  -webkit-animation: 0.2s ease both fancybox-zoomInUp;
          animation: 0.2s ease both fancybox-zoomInUp;
}

.fancybox-zoomOutDown {
  -webkit-animation: 0.15s ease both fancybox-zoomOutDown;
          animation: 0.15s ease both fancybox-zoomOutDown;
}

.fancybox-throwOutUp {
  -webkit-animation: 0.15s ease both fancybox-throwOutUp;
          animation: 0.15s ease both fancybox-throwOutUp;
}

.fancybox-throwOutDown {
  -webkit-animation: 0.15s ease both fancybox-throwOutDown;
          animation: 0.15s ease both fancybox-throwOutDown;
}

@-webkit-keyframes fancybox-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fancybox-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fancybox-fadeOut {
  to {
    opacity: 0;
  }
}
@keyframes fancybox-fadeOut {
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fancybox-zoomInUp {
  from {
    -webkit-transform: scale(0.97) translate3d(0, 16px, 0);
            transform: scale(0.97) translate3d(0, 16px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1) translate3d(0, 0, 0);
            transform: scale(1) translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fancybox-zoomInUp {
  from {
    -webkit-transform: scale(0.97) translate3d(0, 16px, 0);
            transform: scale(0.97) translate3d(0, 16px, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1) translate3d(0, 0, 0);
            transform: scale(1) translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fancybox-zoomOutDown {
  to {
    -webkit-transform: scale(0.97) translate3d(0, 16px, 0);
            transform: scale(0.97) translate3d(0, 16px, 0);
    opacity: 0;
  }
}
@keyframes fancybox-zoomOutDown {
  to {
    -webkit-transform: scale(0.97) translate3d(0, 16px, 0);
            transform: scale(0.97) translate3d(0, 16px, 0);
    opacity: 0;
  }
}
@-webkit-keyframes fancybox-throwOutUp {
  to {
    -webkit-transform: translate3d(0, -30%, 0);
            transform: translate3d(0, -30%, 0);
    opacity: 0;
  }
}
@keyframes fancybox-throwOutUp {
  to {
    -webkit-transform: translate3d(0, -30%, 0);
            transform: translate3d(0, -30%, 0);
    opacity: 0;
  }
}
@-webkit-keyframes fancybox-throwOutDown {
  to {
    -webkit-transform: translate3d(0, 30%, 0);
            transform: translate3d(0, 30%, 0);
    opacity: 0;
  }
}
@keyframes fancybox-throwOutDown {
  to {
    -webkit-transform: translate3d(0, 30%, 0);
            transform: translate3d(0, 30%, 0);
    opacity: 0;
  }
}
.fancybox__carousel .carousel__slide {
  scrollbar-width: thin;
  scrollbar-color: #ccc rgba(255, 255, 255, 0.1);
}

.fancybox__carousel .carousel__slide::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.fancybox__carousel .carousel__slide::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
}

.fancybox__carousel .carousel__slide::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 2px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}

.fancybox__carousel.is-draggable .fancybox__slide, .fancybox__carousel.is-draggable .fancybox__slide .fancybox__content {
  cursor: move;
  cursor: grab;
}

.fancybox__carousel.is-dragging .fancybox__slide, .fancybox__carousel.is-dragging .fancybox__slide .fancybox__content {
  cursor: move;
  cursor: grabbing;
}

.fancybox__carousel .fancybox__slide .fancybox__content {
  cursor: auto;
}

.fancybox__carousel .fancybox__slide.can-zoom_in .fancybox__content {
  cursor: zoom-in;
}

.fancybox__carousel .fancybox__slide.can-zoom_out .fancybox__content {
  cursor: zoom-out;
}

.fancybox__carousel .fancybox__slide.is-draggable .fancybox__content {
  cursor: move;
  cursor: grab;
}

.fancybox__carousel .fancybox__slide.is-dragging .fancybox__content {
  cursor: move;
  cursor: grabbing;
}

.fancybox__image {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: none;
}

.has-image .fancybox__content {
  padding: 0;
  background: transparent;
  min-height: 1px;
}

.is-closing .has-image .fancybox__content {
  overflow: visible;
}

.has-image[data-image-fit=contain] {
  overflow: visible;
  -ms-touch-action: none;
      touch-action: none;
}

.has-image[data-image-fit=contain] .fancybox__content {
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.has-image[data-image-fit=contain] .fancybox__image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.has-image[data-image-fit=contain-w] {
  overflow-x: hidden;
  overflow-y: auto;
}

.has-image[data-image-fit=contain-w] .fancybox__content {
  min-height: auto;
}

.has-image[data-image-fit=contain-w] .fancybox__image {
  max-width: 100%;
  height: auto;
}

.has-image[data-image-fit=cover] {
  overflow: visible;
  -ms-touch-action: none;
      touch-action: none;
}

.has-image[data-image-fit=cover] .fancybox__content {
  width: 100%;
  height: 100%;
}

.has-image[data-image-fit=cover] .fancybox__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fancybox__carousel .fancybox__slide.has-iframe .fancybox__content, .fancybox__carousel .fancybox__slide.has-map .fancybox__content, .fancybox__carousel .fancybox__slide.has-pdf .fancybox__content, .fancybox__carousel .fancybox__slide.has-video .fancybox__content, .fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
  max-width: 100%;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  min-height: 1px;
  overflow: visible;
}

.fancybox__carousel .fancybox__slide.has-iframe .fancybox__content, .fancybox__carousel .fancybox__slide.has-map .fancybox__content, .fancybox__carousel .fancybox__slide.has-pdf .fancybox__content {
  width: 100%;
  height: 80%;
}

.fancybox__carousel .fancybox__slide.has-video .fancybox__content, .fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
  width: 960px;
  height: 540px;
  max-width: 100%;
  max-height: 100%;
}

.fancybox__carousel .fancybox__slide.has-map .fancybox__content, .fancybox__carousel .fancybox__slide.has-pdf .fancybox__content, .fancybox__carousel .fancybox__slide.has-video .fancybox__content, .fancybox__carousel .fancybox__slide.has-html5video .fancybox__content {
  padding: 0;
  background: rgba(24, 24, 27, 0.9);
  color: #fff;
}

.fancybox__carousel .fancybox__slide.has-map .fancybox__content {
  background: #e5e3df;
}

.fancybox__html5video, .fancybox__iframe {
  border: 0;
  display: block;
  height: 100%;
  width: 100%;
  background: transparent;
}

.fancybox-placeholder {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.fancybox__thumbs {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  padding: 0px 3px;
  opacity: var(--fancybox-opacity, 1);
}

.fancybox__container.is-animated[aria-hidden=false] .fancybox__thumbs {
  -webkit-animation: 0.15s ease-in backwards fancybox-fadeIn;
          animation: 0.15s ease-in backwards fancybox-fadeIn;
}

.fancybox__container.is-animated.is-closing .fancybox__thumbs {
  opacity: 0;
}

.fancybox__thumbs .carousel__slide {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: var(--fancybox-thumbs-width, 96px);
  margin: 0;
  padding: 8px 3px;
  box-sizing: content-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: visible;
  cursor: pointer;
}

.fancybox__thumbs .carousel__slide .fancybox__thumb::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-width: 5px;
  border-style: solid;
  border-color: var(--fancybox-accent-color, rgba(34, 213, 233, 0.96));
  opacity: 0;
  transition: opacity 0.15s ease;
  border-radius: var(--fancybox-thumbs-border-radius, 4px);
}

.fancybox__thumbs .carousel__slide.is-nav-selected .fancybox__thumb::after {
  opacity: 0.92;
}

.fancybox__thumbs .carousel__slide > * {
  pointer-events: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.fancybox__thumb {
  position: relative;
  width: 100%;
  padding-top: calc(100% / (var(--fancybox-thumbs-ratio, 1.5)));
  background-size: cover;
  background-position: center center;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  border-radius: var(--fancybox-thumbs-border-radius, 4px);
}

.fancybox__toolbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.006) 8.1%, rgba(0, 0, 0, 0.021) 15.5%, rgba(0, 0, 0, 0.046) 22.5%, rgba(0, 0, 0, 0.077) 29%, rgba(0, 0, 0, 0.114) 35.3%, rgba(0, 0, 0, 0.155) 41.2%, rgba(0, 0, 0, 0.198) 47.1%, rgba(0, 0, 0, 0.242) 52.9%, rgba(0, 0, 0, 0.285) 58.8%, rgba(0, 0, 0, 0.326) 64.7%, rgba(0, 0, 0, 0.363) 71%, rgba(0, 0, 0, 0.394) 77.5%, rgba(0, 0, 0, 0.419) 84.5%, rgba(0, 0, 0, 0.434) 91.9%, rgba(0, 0, 0, 0.44) 100%);
  padding: 0;
  -ms-touch-action: none;
      touch-action: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;
  opacity: var(--fancybox-opacity, 1);
  text-shadow: var(--fancybox-toolbar-text-shadow, 1px 1px 1px rgba(0, 0, 0, 0.4));
}

@media all and (min-width: 1024px) {
  .fancybox__toolbar {
    padding: 8px;
  }
}
.fancybox__container.is-animated[aria-hidden=false] .fancybox__toolbar {
  -webkit-animation: 0.15s ease-in backwards fancybox-fadeIn;
          animation: 0.15s ease-in backwards fancybox-fadeIn;
}

.fancybox__container.is-animated.is-closing .fancybox__toolbar {
  opacity: 0;
}

.fancybox__toolbar__items {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.fancybox__toolbar__items--left {
  margin-right: auto;
}

.fancybox__toolbar__items--center {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.fancybox__toolbar__items--right {
  margin-left: auto;
}

@media (max-width: 640px) {
  .fancybox__toolbar__items--center:not(:last-child) {
    display: none;
  }
}
.fancybox__counter {
  min-width: 72px;
  padding: 0 10px;
  line-height: var(--carousel-button-height, 48px);
  text-align: center;
  font-size: 17px;
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: subpixel-antialiased;
}

.fancybox__progress {
  background: var(--fancybox-accent-color, rgba(34, 213, 233, 0.96));
  height: 3px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0;
          transform-origin: 0;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-timing-function: linear;
  z-index: 30;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.fancybox__container:-ms-fullscreen::backdrop {
  opacity: 0;
}

.fancybox__container:fullscreen::backdrop {
  opacity: 0;
}

.fancybox__button--fullscreen g:nth-child(2) {
  display: none;
}

.fancybox__container:-ms-fullscreen .fancybox__button--fullscreen g:nth-child(1) {
  display: none;
}

.fancybox__container:fullscreen .fancybox__button--fullscreen g:nth-child(1) {
  display: none;
}

.fancybox__container:-ms-fullscreen .fancybox__button--fullscreen g:nth-child(2) {
  display: block;
}

.fancybox__container:fullscreen .fancybox__button--fullscreen g:nth-child(2) {
  display: block;
}

.fancybox__button--slideshow g:nth-child(2) {
  display: none;
}

.fancybox__container.has-slideshow .fancybox__button--slideshow g:nth-child(1) {
  display: none;
}

.fancybox__container.has-slideshow .fancybox__button--slideshow g:nth-child(2) {
  display: block;
}

:root {
  --gl-star-color: #fdd835;
  --gl-star-color-inactive: #dcdce6;
  --gl-star-empty: url("../img/star-empty.svg");
  --gl-star-full: url("../img/star-full.svg");
  --gl-star-size: 24px;
  --gl-tooltip-border-radius: 4px;
  --gl-tooltip-font-size: 0.875rem;
  --gl-tooltip-font-weight: 400;
  --gl-tooltip-line-height: 1;
  --gl-tooltip-margin: 12px;
  --gl-tooltip-padding: .5em 1em;
  --gl-tooltip-size: 6px;
}

[data-star-rating] > select {
  -webkit-clip-path: circle(1px at 0 0) !important;
  clip-path: circle(1px at 0 0) !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  margin: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  top: 0 !important;
  visibility: visible !important;
  white-space: nowrap !important;
  width: 1px !important;
}

[data-star-rating] > select {
  -webkit-appearance: none;
  appearance: none;
  pointer-events: none;
}

[data-star-rating] > select::before,
[data-star-rating] > select::after {
  display: none !important;
}

[data-star-rating].gl-star-rating--ltr > select {
  left: 0 !important;
}

[data-star-rating].gl-star-rating--rtl > select {
  right: 0 !important;
}

[data-star-rating] {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.gl-star-rating:not([data-star-rating]) .gl-star-rating--stars {
  display: none;
}

[data-star-rating] .gl-star-rating--stars {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

[data-star-rating] > select:focus + .gl-star-rating--stars span:first-child::before {
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  box-shadow: 0 0 0 3px -webkit-focus-ring-color;
  box-shadow: 0 0 0 3px Highlight;
  content: "";
  display: block;
  height: 100%;
  outline: 1px solid transparent;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

[data-star-rating] select[disabled] + .gl-star-rating--stars {
  cursor: default;
}

[data-star-rating] .gl-star-rating--stars > span {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
  height: 24px;
  height: var(--gl-star-size);
  margin: 0;
  width: 24px;
  width: 24px;
  width: var(--gl-star-size);
}

[data-star-rating] .gl-star-rating--stars[aria-label]::before,
[data-star-rating] .gl-star-rating--stars[aria-label]::after {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  bottom: auto;
  box-sizing: border-box;
  left: 100%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  opacity: 0.9;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  white-space: nowrap;
  z-index: 10;
}

[data-star-rating] .gl-star-rating--stars[aria-label]::before {
  background-size: 100% auto !important;
  background-position: 50% !important;
}

[data-star-rating] .gl-star-rating--stars[aria-label]::before {
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 31"%3E%3Cpath fill="%23111" d="M12.002 31C12.002 25 0 19.838 0 15.5 0 11.24 12 6 12 0l.002 31z"/%3E%3C/svg%3E') no-repeat;
  content: "";
  height: 18px;
  margin-bottom: 0;
  margin-left: 6px;
  margin-left: 6px;
  margin-left: var(--gl-tooltip-size);
  width: 6px;
  width: 6px;
  width: var(--gl-tooltip-size);
}

[data-star-rating] .gl-star-rating--stars[aria-label]::after {
  background: #111;
  border-radius: 4px;
  border-radius: 4px;
  border-radius: var(--gl-tooltip-border-radius);
  color: #fff;
  content: attr(aria-label);
  font-size: 0.875rem;
  font-size: 0.875rem;
  font-size: var(--gl-tooltip-font-size);
  font-weight: normal;
  margin-left: 12px;
  margin-left: 12px;
  margin-left: var(--gl-tooltip-margin);
  padding: 0.5em 1em;
  padding: 0.5em 1em;
  padding: var(--gl-tooltip-padding);
  text-transform: none;
}

[data-star-rating].gl-star-rating--rtl .gl-star-rating--stars[aria-label]::before,
[data-star-rating].gl-star-rating--rtl .gl-star-rating--stars[aria-label]::after {
  left: auto;
  right: 100%;
}

[data-star-rating].gl-star-rating--rtl .gl-star-rating--stars[aria-label]::before {
  -webkit-transform: scaleX(-1) translate3d(0, -50%, 0);
          transform: scaleX(-1) translate3d(0, -50%, 0);
  margin-left: 0;
  margin-right: 6px;
  margin-right: 6px;
  margin-right: var(--gl-tooltip-size);
}

[data-star-rating].gl-star-rating--rtl .gl-star-rating--stars[aria-label]::after {
  margin-left: 0;
  margin-right: 12px;
  margin-right: 12px;
  margin-right: var(--gl-tooltip-margin);
}

[data-star-rating] svg {
  height: 100%;
  width: 100%;
}

[data-star-rating] .gl-star-half {
  fill: none;
  stroke: none;
}

[data-star-rating] .gl-star-full {
  fill: #dcdce6;
  fill: #dcdce6;
  fill: var(--gl-star-color-inactive);
  stroke: #dcdce6;
  stroke: #dcdce6;
  stroke: var(--gl-star-color-inactive);
  transition: fill 0.15s ease-in-out, stroke 0.15s ease-in-out;
}

[data-star-rating] .gl-active .gl-star-full {
  fill: #fdd835;
  fill: #fdd835;
  fill: var(--gl-star-color);
  stroke: #fdd835;
  stroke: #fdd835;
  stroke: var(--gl-star-color);
}

/* Compatibilty with v3 */
.gl-star-rating--stars[class*=" s"] > span {
  background-image: url("../img/star-empty.svg") !important;
  background-image: url("../img/star-empty.svg") !important;
  background-image: var(--gl-star-empty) !important;
}

.gl-star-rating--stars[class*=" s"] > span {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
}

.gl-star-rating--stars[class*=" s"] > span.gl-active,
.gl-star-rating--stars[class*=" s"] > span.gl-active.gl-selected {
  background-image: url("../img/star-full.svg") !important;
  background-image: url("../img/star-full.svg") !important;
  background-image: var(--gl-star-full) !important;
}

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, div, span {
  max-height: 5000em;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
  position: relative;
}

img {
  border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #FFF inset;
}

body {
  font-family: var(--font);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #353434;
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

strong {
  font-weight: 700;
}

.arrow-link {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: top;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-size: 22px;
  line-height: 1.25;
  -webkit-tap-highlight-color: transparent;
  transition: opacity 0.3s ease;
}
.arrow-link:hover, .arrow-link:active {
  opacity: 0.5;
}
.arrow-link img {
  width: 46px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  height: auto;
}

.sec-title {
  margin-bottom: 30px;
  text-align: center;
}
@media (max-width: 1024px) {
  .sec-title {
    margin-bottom: 20px;
  }
}
.sec-title .btn {
  margin-top: 30px;
}

.sec-title__decor {
  position: relative;
  height: 2px;
  width: 610px;
  max-width: 100%;
  background: #FFF;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.sec-title__book {
  position: absolute;
  width: 38px;
  height: 38px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: calc(50% - 19px);
  top: -18px;
  background: #FFF;
  border-radius: 50%;
}
.sec-title__book img {
  width: 22px;
  height: auto;
}

.sec-title__text {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.25;
  max-width: 20em;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1024px) {
  .sec-title__text {
    font-size: 24px;
  }
}

.sec-title__decor--gray {
  background: var(--gray-border);
}
.sec-title__decor--gray .sec-title__book {
  width: 42px;
  height: 42px;
  border: 2px solid var(--gray-border);
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: calc(var(--container-width) + 80px);
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 1024px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container-wide {
  margin: 0 auto;
  width: 100%;
  max-width: calc(var(--container-width--wide) + 80px);
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 1024px) {
  .container-wide {
    padding-left: 20px;
    padding-right: 20px;
  }
}

label {
  cursor: pointer;
}

.input-text {
  display: inline-block;
  font-family: var(--font);
  font-size: 18px;
  line-height: 1.3;
  -webkit-appearance: none;
  border: 2px solid #000;
  padding: 16px 20px;
  overflow: visible;
  width: 100%;
  transition: all 0.3s ease;
}
@media (max-width: 1024px) {
  .input-text {
    font-size: 14px;
  }
}
.input-text::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 1.3;
  color: #A8A8A8;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.input-text:-ms-input-placeholder {
  font-size: 18px;
  line-height: 1.3;
  color: #A8A8A8;
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.input-text::placeholder {
  font-size: 18px;
  line-height: 1.3;
  color: #A8A8A8;
  opacity: 1;
  transition: opacity 0.3s ease;
}
@media (max-width: 1024px) {
  .input-text::-webkit-input-placeholder {
    font-size: 14px;
  }
  .input-text:-ms-input-placeholder {
    font-size: 14px;
  }
  .input-text::placeholder {
    font-size: 14px;
  }
}
.input-text:focus {
  outline: none;
  border-color: #969696;
}
.input-text:focus::-webkit-input-placeholder {
  opacity: 0.5;
}
.input-text:focus:-ms-input-placeholder {
  opacity: 0.5;
}
.input-text:focus::placeholder {
  opacity: 0.5;
}
.input-text.error {
  border-color: red;
}

.form-item {
  display: block;
}

.form-item__stars {
  padding-left: 1em;
  --gl-star-empty: url(../img/star-empty-black.svg);
  --gl-star-full: url(../img/star-full-black.svg);
}

.form-item__label {
  display: block;
  font-weight: 500;
  margin-bottom: 0.4em;
  padding-left: 1em;
}

.vertical-form .form-item {
  width: 100%;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .vertical-form .form-item {
    margin-bottom: 15px;
  }
}

.btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 16px 50px;
  font-size: 18px;
  font-family: var(--font);
  font-weight: 500;
  line-height: 1.3;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #000;
  border: 2px solid #000;
  color: #FFF;
}
.btn:focus {
  outline: none;
}
.btn:hover, .btn:active {
  background: rgba(0, 0, 0, 0.8);
  border-color: rgba(0, 0, 0, 0.8);
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.btn--outline {
  background: transparent;
  color: #000;
}
.btn--outline:hover, .btn--outline:active {
  background: #000;
  border-color: #000;
  color: #FFF;
}

:root {
  --fancybox-bg: rgba(0,0,0,0.8);
}

.modal {
  display: none;
  width: 500px;
  max-width: 100%;
}

.fancybox__carousel .fancybox__slide.has-iframe .fancybox__content {
  padding: 0;
}
.fancybox__carousel .fancybox__slide.has-video .fancybox__content {
  width: 1920px;
  height: 1080px;
}
.fancybox__carousel .fancybox__slide.has-inline {
  padding: 30px;
}
@media (max-width: 480px) {
  .fancybox__carousel .fancybox__slide.has-inline {
    padding: 15px;
  }
}
.fancybox__carousel .carousel__button.is-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #000;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  opacity: 1;
}
@media (max-width: 680px) {
  .fancybox__carousel .carousel__button.is-close {
    top: 5px;
    right: 5px;
  }
}
.fancybox__carousel .carousel__button.is-close:hover {
  background-color: #f55e07;
}
.fancybox__carousel .carousel__button.is-close:before, .fancybox__carousel .carousel__button.is-close:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background: #FFF;
  transition: all 0.3s ease;
  border-radius: 0;
}
.fancybox__carousel .carousel__button.is-close:hover:before, .fancybox__carousel .carousel__button.is-close:hover:after {
  background-color: #FFF;
}
.fancybox__carousel .carousel__button.is-close:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.fancybox__carousel .carousel__button.is-close:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.fancybox__carousel .carousel__button.is-close:focus {
  outline: none;
}
.fancybox__carousel .carousel__button.is-close:focus:before, .fancybox__carousel .carousel__button.is-close:focus:after {
  outline: none;
}
.fancybox__carousel .carousel__button.is-close svg {
  display: none;
}

.s-header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
}

.header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  padding-top: 26px;
}
@media (max-width: 1024px) {
  .header {
    padding-top: 20px;
  }
}

.header__logo {
  display: block;
  width: 227px;
  height: auto;
}
@media (max-width: 1024px) {
  .header__logo {
    width: 120px;
  }
}

.header__nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 1.8em;
  font-size: 22px;
  white-space: nowrap;
}
@media (max-width: 1024px) {
  .header__nav {
    display: none;
  }
}
.header__nav a {
  transition: color 0.3s ease;
}
.header__nav a:hover {
  color: #cccbcc;
}

.burger {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 38px;
  height: 38px;
  z-index: 101;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  border-radius: 6px;
  background: #FFF;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1024px) {
  .burger {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.burger figure {
  position: relative;
  z-index: 2;
  width: 22px;
  height: 2px;
  background: #000;
  transition: background 0.2s ease 0.1s, -webkit-transform 0.4s ease;
  transition: transform 0.4s ease, background 0.2s ease 0.1s;
  transition: transform 0.4s ease, background 0.2s ease 0.1s, -webkit-transform 0.4s ease;
}
.burger figure:before, .burger figure:after {
  content: "";
  width: 22px;
  height: 2px;
  background: #000;
  position: absolute;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}
.burger figure:after {
  width: 16px;
  right: 0;
}
.burger figure:before {
  -webkit-transform: rotate(0) translate3d(0, -6px, 0);
          transform: rotate(0) translate3d(0, -6px, 0);
}
.burger figure:after {
  -webkit-transform: rotate(0) translate3d(0, 6px, 0);
          transform: rotate(0) translate3d(0, 6px, 0);
}
.burger.active figure {
  background: transparent;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  transition: background 0.1s ease, -webkit-transform 0.4s ease;
  transition: transform 0.4s ease, background 0.1s ease;
  transition: transform 0.4s ease, background 0.1s ease, -webkit-transform 0.4s ease;
}
.burger.active figure:before {
  -webkit-transform: rotate(-45deg) translate3d(0, 0, 0) scaleX(0.7);
          transform: rotate(-45deg) translate3d(0, 0, 0) scaleX(0.7);
}
.burger.active figure:after {
  -webkit-transform: rotate(45deg) translate3d(0, 0, 0) scaleX(0.7);
          transform: rotate(45deg) translate3d(0, 0, 0) scaleX(0.7);
  width: 22px;
}

.mob-panel {
  display: none;
  position: fixed;
  width: 280px;
  max-width: 100%;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 100;
  visibility: hidden;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  transition: visibility 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, visibility 0.3s ease;
  transition: transform 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: translate3d(320px, 0, 0);
          transform: translate3d(320px, 0, 0);
  will-change: transform;
  background: var(--gray-bg);
  padding: 30px 30px 30px 30px;
}
@media (max-width: 680px) {
  .mob-panel {
    padding-top: 25px;
  }
}
@media (max-width: 1024px) {
  .mob-panel {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.mob-panel.active {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

.mob-panel__logo {
  display: block;
  width: 120px;
  margin-bottom: 40px;
  -webkit-tap-highlight-color: transparent;
}
.mob-panel__logo img {
  display: block;
  width: 100%;
}

.mob-panel__nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1em;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 16px;
}
.mob-panel__nav a {
  -webkit-tap-highlight-color: transparent;
}
.mob-panel__nav a:active {
  color: var(--red);
}

.mob-panel__conts {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.s-intro {
  position: relative;
  padding-top: 85px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .s-intro {
    padding-top: 60px;
  }
}
.s-intro:before {
  content: "";
  width: 390px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 0;
  background: radial-gradient(farthest-side at 0% 50%, rgba(255, 0, 0, 0.15), #FFF);
  pointer-events: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (max-width: 768px) {
  .s-intro:before {
    width: 160%;
    height: 340px;
    left: -30%;
    bottom: 0;
    top: initial;
    background: radial-gradient(farthest-side at 50% 100%, rgba(255, 0, 0, 0.15), #FFF);
  }
}

.intro {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 768px) {
  .intro {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.intro__left {
  border-top: 1px solid var(--gray-border);
  padding-top: 20px;
  padding-bottom: 40px;
  padding-right: 30px;
}
@media (max-width: 768px) {
  .intro__left {
    padding-right: 0;
  }
}

.intro__title {
  color: #cccbcc;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 58px;
  margin-bottom: 0.5em;
}
@media (max-width: 1250px) {
  .intro__title {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .intro__title {
    font-size: 34px;
    margin-bottom: 100px;
    max-width: 10em;
    margin-left: auto;
    margin-right: auto;
  }
}
.intro__title span {
  display: block;
  padding-left: 2.8em;
}

.intro__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 140px 25px 1fr;
  grid-template-columns: 140px 1fr;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 25px;
}
@media (max-width: 1250px) {
  .intro__content {
    -ms-grid-columns: 120px 1fr;
    grid-template-columns: 120px 1fr;
  }
}
@media (max-width: 768px) {
  .intro__content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.intro__content__left {
  position: relative;
  background: #e6e6e6;
  height: 170px;
}
@media (max-width: 768px) {
  .intro__content__left {
    width: 140px;
    margin-left: auto;
    margin-right: auto;
  }
}
.intro__content__left img {
  position: absolute;
  bottom: 0;
  left: 8px;
  width: 100%;
}

.intro__content__right {
  font-size: 14px;
}
@media (max-width: 1250px) {
  .intro__content__right {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .intro__content__right {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
.intro__content__right p {
  margin-bottom: 0.5em;
}

.intro__content__bottom {
  padding-top: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  line-height: 1.2;
}
.intro__content__bottom img {
  width: 210px;
  height: auto;
}
@media (max-width: 1024px) {
  .intro__content__bottom img {
    width: 110px;
  }
}

.intro__right {
  position: relative;
  padding-left: 50px;
  overflow: hidden;
  padding-bottom: 35px;
}
@media (max-width: 768px) {
  .intro__right {
    text-align: center;
    padding-left: 0;
  }
}
.intro__right__img {
  display: block;
  max-width: 78%;
}
@media (max-width: 768px) {
  .intro__right__img {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.s-about {
  padding: 90px 0 70px 0;
  background: var(--gray-bg);
}
@media (max-width: 768px) {
  .s-about {
    padding: 60px 0 40px 0;
  }
}
.s-about .sec-title__text {
  text-transform: uppercase;
}

.about-list {
  list-style: none;
  border-left: 4px solid #FFF;
  padding: 15px 30px;
}
@media (max-width: 1024px) {
  .about-list {
    padding: 10px 15px;
  }
}
.about-list li {
  position: relative;
  padding-left: 1.3em;
  line-height: 1.25;
  margin-bottom: 0.8em;
}
.about-list li:last-child {
  margin-bottom: 0;
}
.about-list li:before {
  content: "";
  width: 10px;
  height: 10px;
  background: currentColor;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0.3em;
}
@media (max-width: 768px) {
  .about-list li:before {
    width: 6px;
    height: 6px;
  }
}

.about-links {
  padding-top: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 20px 50px;
}
@media (max-width: 768px) {
  .about-links {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.s-fragment {
  padding: 90px 0 70px 0;
}
@media (max-width: 768px) {
  .s-fragment {
    padding: 60px 0 40px 0;
  }
}

.fragment {
  border: 1px solid var(--gray-border);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 40px 55px;
}
@media (max-width: 768px) {
  .fragment {
    padding: 20px 15px;
    margin-left: -10px;
    width: calc(100% + 20px);
  }
}
.fragment:last-child {
  margin-bottom: 0;
}
.fragment p {
  margin-bottom: 0.7em;
}

.fragment__title {
  font-size: 40px;
  line-height: 1.25;
  font-weight: 500;
  margin-bottom: 0.5em;
}
@media (max-width: 768px) {
  .fragment__title {
    font-size: 24px;
  }
}

.fragment__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px 24px;
}
@media (max-width: 768px) {
  .fragment__row {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.fragment__row img {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 278px;
}
@media (max-width: 768px) {
  .fragment__row img {
    width: 150px;
  }
}

.fragment__left-img {
  float: left;
  margin: 20px;
}

.fragment__right {
  text-align: right;
  padding-top: 40px;
}
.fragment__right strong {
  display: block;
  font-weight: normal;
  font-size: 28px;
  text-transform: uppercase;
  line-height: 1.3;
  margin-bottom: 0.2em;
}
@media (max-width: 768px) {
  .fragment__right strong {
    font-size: 20px;
  }
}
.fragment__right p {
  max-width: 22em;
  margin-left: auto;
}

.fragment__strafe {
  padding-left: 300px;
}
@media (max-width: 768px) {
  .fragment__strafe {
    padding-left: 0;
  }
}

.fragment__left-col {
  max-width: 480px;
}

.fragments-links {
  padding-top: 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px 50px;
}
@media (max-width: 768px) {
  .fragments-links {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.s-reviews {
  background: var(--gray-bg);
  padding: 90px 0 70px 0;
}
@media (max-width: 768px) {
  .s-reviews {
    padding: 60px 0 40px 0;
  }
}

.review {
  background: #FFF;
  padding: 15px;
  margin-bottom: 20px;
}

.review__stars {
  margin-bottom: 10px;
  pointer-events: none;
  --gl-star-empty: url(../img/star-empty.svg);
  --gl-star-full: url(../img/star-full.svg);
}

.review__name {
  display: inline-block;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.reviews-list-hidden {
  display: none;
}

.reviews-more-btn {
  padding-top: 20px;
  text-align: center;
}

.review-send {
  padding-top: 60px;
}

.review-send__title {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 0.5em;
}
@media (max-width: 768px) {
  .review-send__title {
    font-size: 24px;
  }
}

.review-send__block {
  background: #FFF;
  width: 700px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}
@media (max-width: 768px) {
  .review-send__block {
    padding: 30px 20px;
  }
}
.review-send__block .vertical-form {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.s-author {
  padding: 70px 0;
}
@media (max-width: 768px) {
  .s-author {
    padding: 40px 0;
  }
}

.author {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 277px 60px 1fr;
  grid-template-columns: 277px 1fr;
  gap: 20px 60px;
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px) {
  .author {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .author__left {
    width: 190px;
  }
}
.author__left img {
  display: block;
  width: 100%;
}

.author__subtitle {
  line-height: 1.3;
  font-size: 40px;
  font-weight: normal;
}
@media (max-width: 768px) {
  .author__subtitle {
    font-size: 24px;
    display: none;
  }
}
@media (max-width: 768px) {
  .author__subtitle--mob {
    display: block;
  }
}

.author__title {
  line-height: 1.3;
  font-size: 40px;
  color: #cccbcc;
  margin-bottom: 0.5em;
}
@media (max-width: 768px) {
  .author__title {
    font-size: 24px;
    display: none;
  }
}
@media (max-width: 768px) {
  .author__title--mob {
    display: block;
  }
}

.author__descr {
  font-size: 14px;
}
.author__descr p {
  margin-bottom: 0.5em;
}
.author__descr p:last-child {
  margin-bottom: 0;
}