.btn {
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 16px 50px;
	font-size: 18px;
	font-family: var(--font);
	font-weight: 500;
	line-height: 1.3;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	transition: all 0.3s ease;
	user-select: none;
	background-color: #000;
	border: 2px solid #000;
	color: #FFF;

	&:focus {
		outline: none;
	}

	&:hover,&:active{
		background: rgba(#000,0.8);
		border-color: rgba(#000,0.8);;
	}
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.btn--outline{
	background: transparent;
	color: #000;

	&:hover,&:active{
		background: #000;
		border-color: #000;
		color: #FFF;
	}
}