label {
	cursor: pointer;
}

.input-text {
	display: inline-block;
	font-family: var(--font);
	font-size: 18px;
	line-height: 1.3;
	-webkit-appearance: none;
	border: 2px solid #000;
	padding: 16px 20px;
	overflow: visible;
	transition: all 0.3s ease;

	@include res(l) {
		font-size: 14px;
	}

	&::placeholder {
		font-size: 18px;
		line-height: 1.3;
		color: #A8A8A8;
		opacity: 1;
		transition: opacity 0.3s ease;

		@include res(l) {
			font-size: 14px;
		}
	}

	&:focus {
		outline: none;
		border-color: #969696;

		&::placeholder {
			opacity: 0.5;
		}
	}

	&.error {
		border-color: red;
	}
}

.form-item{
	display: block;

	.input-text{
		display: block;
		width: 100%;
	}
}

.form-item__stars{
	padding-left: 1em;
	--gl-star-empty: url(../img/star-empty-black.svg);
	--gl-star-full: url(../img/star-full-black.svg);
}

.form-item__label{
	display: block;
	font-weight: 500;
	margin-bottom: 0.4em;
	padding-left: 1em;
}

.form-note{
	font-size: 14px;
	padding-top: 15px;
	color: #a8a8a8;

	@include res(m) {
		font-size: 12px;
	}

	a{
		text-decoration: underline;
		transition: color 0.3s ease;
		text-align: left;

		&:hover{
			color: #000;
		}
	}
}

.vertical-form{
	.form-item{
		width: 100%;
		margin-bottom: 20px;

		@include res(l) {
			margin-bottom: 15px;
		}
	}

	.btn{
		@include res(m) {
			margin-top: 10px;
		}
	}
}