body {
	font-family: var(--font);
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	color: #000;

	@include res(m) {
		font-size: 14px;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

strong{
	font-weight: 700;
}

.arrow-link{
	display: inline-flex;
	vertical-align: top;
	align-items: center;
	gap: 20px;
	font-size: 22px;
	line-height: 1.25;
	-webkit-tap-highlight-color: transparent;
	transition: opacity 0.3s ease;

	&:hover,&:active{
		opacity: 0.5;
	}

	img{
		width: 46px;
		flex-shrink: 0;
		height: auto;
	}
}


// sec-title
.sec-title{
	margin-bottom: 30px;
	text-align: center;

	@include res(l) {
		margin-bottom: 20px;
	}

	.btn{
		margin-top: 30px;
	}
}

.sec-title__decor{
	position: relative;
	height: 2px;
	width: 610px;
	max-width: 100%;
	background: #FFF;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}

.sec-title__book{
	position: absolute;
	width: 38px;
	height: 38px;
	display: flex;
	align-items: center;
	justify-content: center;
	left: calc(50% - 19px);
	top: -18px;
	background: #FFF;
	border-radius: 50%;

	img{
		width: 22px;
		height: auto;
	}
}

.sec-title__text{
	font-weight: 500;
	font-size: 40px;
	line-height: 1.25;
	max-width: 20em;
	margin-left: auto;
	margin-right: auto;

	@include res(l) {
		font-size: 24px;
	}
}

.sec-title__decor--gray{
	background: var(--gray-border);

	.sec-title__book{
		width: 42px;
		height: 42px;
		border: 2px solid var(--gray-border);
	}
}
// sec-title