// s-intro
.s-intro {
	position: relative;
	padding-top: 85px;
	overflow: hidden;

	@include res(l) {
		padding-top: 60px;
	}

	&:before {
		content: '';
		width: 390px;
		height: 100%;
		overflow: hidden;
		position: absolute;
		left: 50%;
		top: 0;
		background: radial-gradient(farthest-side at 0% 50%, rgba(255, 0, 0, 0.15), #FFF);
		pointer-events: none;
		user-select: none;

		@include res(m) {
			width: 160%;
			height: 340px;
			left: -30%;
			bottom: 0;
			top: initial;
			background: radial-gradient(farthest-side at 50% 100%, rgba(255, 0, 0, 0.15), #FFF);
		}
	}
}

.intro {
	display: grid;
	grid-template-columns: 1fr 1fr;

	@include res(m) {
		grid-template-columns: 1fr;
	}
}

.intro__left {
	border-top: 1px solid var(--gray-border);
	padding-top: 20px;
	padding-bottom: 40px;
	padding-right: 30px;

	@include res(m) {
		padding-right: 0;
	}
}

.intro__title {
	color: #cccbcc;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.2;
	font-size: 58px;
	margin-bottom: 0.5em;

	@include res(xls) {
		font-size: 40px;
	}

	@include res(m) {
		font-size: 34px;
		margin-bottom: 100px;
		max-width: 10em;
		margin-left: auto;
		margin-right: auto;
	}

	span {
		display: block;
		padding-left: 2.8em;
	}
}

.intro__content {
	display: grid;
	grid-template-columns: 140px 1fr;
	align-items: flex-start;
	gap: 25px;

	@include res(xls) {
		grid-template-columns: 120px 1fr;
	}

	@include res(m) {
		grid-template-columns: 1fr;
	}
}

.intro__content__left {
	position: relative;
	background: #e6e6e6;
	height: 170px;

	@include res(m) {
		width: 140px;
		margin-left: auto;
		margin-right: auto;
	}

	img {
		position: absolute;
		bottom: 0;
		left: 8px;
		width: 100%;
	}
}

.intro__content__right {
	font-size: 14px;

	@include res(xls) {
		font-size: 12px;
	}

	@include res(m) {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}

	p {
		margin-bottom: 0.5em;
	}
}

.intro__content__bottom {
	padding-top: 10px;
	display: flex;
	align-items: center;
	gap: 15px;
	line-height: 1.2;

	img {
		width: 210px;
		height: auto;

		@include res(l) {
			width: 110px;
		}
	}
}

.intro__right {
	position: relative;
	padding-left: 50px;
	overflow: hidden;
	padding-bottom: 35px;

	@include res(m) {
		text-align: center;
		padding-left: 0;
	}

	.arrow-link {}
}

.intro__right__img {
	display: block;
	max-width: 78%;

	@include res(m) {
		width: 270px;
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
		margin-bottom: 20px;
	}
}

// s-intro


// s-about
.s-about {
	padding: 90px 0 70px 0;
	background: var(--gray-bg);

	@include res(m) {
		padding: 60px 0 40px 0;
	}

	.sec-title__text {
		text-transform: uppercase;
	}
}

.about-list {
	list-style: none;
	border-left: 4px solid #FFF;
	padding: 15px 30px;

	@include res(l) {
		padding: 10px 15px;
	}

	li {
		position: relative;
		padding-left: 1.3em;
		line-height: 1.25;
		margin-bottom: 0.8em;

		&:last-child {
			margin-bottom: 0;
		}

		&:before {
			content: '';
			width: 10px;
			height: 10px;
			background: currentColor;
			border-radius: 50%;
			position: absolute;
			left: 0;
			top: 0.3em;

			@include res(m) {
				width: 6px;
				height: 6px;
			}
		}
	}
}

.about-links {
	padding-top: 40px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px 50px;

	@include res(m) {
		width: 260px;
		margin-left: auto;
		margin-right: auto;
		justify-content: flex-start;
	}
}

// s-about


// s-fragment
.s-fragment {
	padding: 90px 0 70px 0;

	@include res(m) {
		padding: 60px 0 40px 0;
	}
}

.fragment {
	border: 1px solid var(--gray-border);
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding: 40px 55px;

	@include res(m) {
		padding: 20px 15px;
		margin-left: -10px;
		width: calc(100% + 20px);
	}

	&:last-child {
		margin-bottom: 0;
	}

	p {
		margin-bottom: 0.7em;
	}
}

.fragment__title {
	font-size: 40px;
	line-height: 1.25;
	font-weight: 500;
	margin-bottom: 0.5em;

	@include res(m) {
		font-size: 24px;
	}
}

.fragment__row {
	display: flex;
	align-items: flex-start;
	gap: 20px 24px;

	@include res(m) {
		flex-direction: column;
		align-items: flex-start;
	}

	img {
		flex-shrink: 0;
		width: 278px;

		@include res(m) {
			width: 150px;
		}
	}
}

.fragment__left-img {
	float: left;
	margin: 20px;
}

.fragment__right {
	text-align: right;
	padding-top: 40px;

	strong {
		display: block;
		font-weight: normal;
		font-size: 28px;
		text-transform: uppercase;
		line-height: 1.3;
		margin-bottom: 0.2em;

		@include res(m) {
			font-size: 20px;
		}
	}

	p {
		max-width: 22em;
		margin-left: auto;
	}
}

.fragment__strafe {
	padding-left: 300px;

	@include res(m) {
		padding-left: 0;
	}
}

.fragment__left-col {
	max-width: 480px;
}

.fragments-links {
	padding-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px 50px;

	@include res(m) {
		width: 260px;
		margin-left: auto;
		margin-right: auto;
		justify-content: flex-start;
	}
}

// s-fragment


// s-reviews
.s-reviews {
	background: var(--gray-bg);
	padding: 90px 0 70px 0;

	@include res(m) {
		padding: 60px 0 40px 0;
	}
}

.review {
	background: #FFF;
	padding: 15px;
	margin-bottom: 20px;
}

.review__stars {
	margin-bottom: 10px;
	pointer-events: none;
	--gl-star-empty: url(../img/star-empty.svg);
	--gl-star-full: url(../img/star-full.svg);
}

.review__name {
	display: inline-block;
	font-weight: 500;
	margin-bottom: 0.5em;
}

.reviews-list-hidden {
	display: none;
}

.reviews-more-btn {
	padding-top: 20px;
	text-align: center;
}

.review-send {
	padding-top: 60px;
}

.review-send__title {
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	line-height: 1.25;
	margin-bottom: 0.5em;

	@include res(m) {
		font-size: 24px;
	}
}

.review-send__block {
	background: #FFF;
	width: 700px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 40px;

	@include res(m) {
		padding: 30px 20px;
	}

	.vertical-form {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}
}

// s-reviews


// s-author
.s-author {
	padding: 70px 0;

	@include res(m) {
		padding: 40px 0;
	}
}

.author {
	display: grid;
	grid-template-columns: 277px 1fr;
	gap: 20px 60px;
	max-width: 740px;
	margin-left: auto;
	margin-right: auto;

	@include res(m) {
		grid-template-columns: 1fr;
	}
}

.author__left {
	@include res(m) {
		width: 190px;
	}

	img {
		display: block;
		width: 100%;
	}
}

.author__subtitle {
	line-height: 1.3;
	font-size: 40px;
	font-weight: normal;

	@include res(m) {
		font-size: 24px;
		display: none;
	}

	&--mob {
		@include res(m) {
			display: block;
		}
	}
}

.author__title {
	line-height: 1.3;
	font-size: 40px;
	color: #cccbcc;
	margin-bottom: 0.5em;


	@include res(m) {
		font-size: 24px;
		display: none;
	}

	&--mob {
		@include res(m) {
			display: block;
		}
	}
}

.author__descr {
	font-size: 14px;

	p {
		margin-bottom: 0.5em;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

// s-author